* {
	box-sizing: border-box;
}

/* Font styles */

html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #1D252D; /* PMS 433C, hsl(210, 22%, 15%) */
}

a {
	text-decoration: none;
	color: #D93E0B; /* hsl(15, 90%, 45%) */
	transition: all 150ms ease-in;
}

a:hover {
	color: hsl(15, 100%, 35%); /* darker red */
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	font-weight: 700;
}

h1 {
	font-size: 3.375rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1rem;
}

ul {
	line-height: 2;
}

/* Readable text */
h1, h2, h3, h4, h5, h6, p, ul {
	max-width: 36em;
	margin-bottom: 1rem;
}

/* Image styles */

img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	border-radius: .5rem;
	transition: all 150ms ease-in;
}

img:hover {
	opacity: 0.8;
}


/* Spacing */

.container {
	display: block;
	margin: 2rem 1rem;
}

section {
	margin-bottom: 2rem;
}

/* Above 640px but below 960px */
@media only screen and (min-width: 673px) and (max-width: 992px) {
	.container {
		max-width: 40rem; /* 640px */
		margin: 2rem auto;
	}
}

/* Above 960px */
@media only screen and (min-width: 993px) {
	.container {
		max-width: 60rem; /* 960px */
		margin: 4rem auto;
	}

	section {
		margin-bottom: 4rem;
	}
}

/* Forms */
label, input {
	display: block;
	width: 20rem;
}

input {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	border: 1px solid hsl(210, 10%, 75%);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

input[readonly] {
	background-color: hsl(210, 22%, 95%);
	color: hsl(210, 22%, 50%);
}

label {
	font-weight: 400;
	margin-bottom: 0.25rem;
}

fieldset legend {
	font-weight: 700;
	margin-bottom: 1rem;
}

/* jQuery validator error messages */
label.error {
	color: #D93E0B;
	font-size: 0.75rem;
	font-weight: 400;
	margin-top: -0.75rem;
}

input.error {
	border-color: #D93E0B;
}

/* Focus states */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: hsl(210, 22%, 75%);
}

/* jQuery UI tooltip */
.ui-tooltip {
	background-color: #1D252D;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.25rem;
  font: inherit;
  font-size: 0.75rem;
  box-shadow: none;
  max-width: 36em;
}

/* Buttons */

button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: #ffffff;
	background-color: hsl(210, 22%, 50%);
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	display: inline-block;
	transition: all 150ms ease-in;
}

button:hover {
	opacity: 0.8;
}

button.primary {
	background-color: #D93E0B;
}


/* Callouts */

.callout {
	background-color: hsl(210, 22%, 95%);
	border-radius: 0.25rem;
	padding: 1rem;
}


/* Flex containers */
.flex {
	display: flex;
}

#form, #results, .half {
	width: 50%;
}

/* Tables */

table {
	border: 1px solid hsl(210, 10%, 75%);
}

table th, table td {
	padding: 0.25rem;
	width: 10rem;
}

table th {
	font-weight: 700;
	text-align: left;
}

table caption {
	margin-bottom: 1rem;
	text-align: left;
	font-weight: 700;
}

table.borders {
	border-collapse: separate;
	border-spacing: 0.25rem;
}

table.borders th, table.borders td {
	border: 1px dotted hsl(210, 10%, 75%);
}

.alignRight {
	text-align: right;
}

table.alternateRow tbody tr:nth-child(even) {
	background-color: hsl(210, 22%, 95%);
}

table.drawSquare {
	border: none;
}

table.drawSquare th, table.drawSquare td {
	padding: 0;
	width: 1.5rem;
	text-align: center;
}

/* Misc */
.hide {
	display: none;
}
