* {
	box-sizing: border-box;
}

/* Font styles */

html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #1D252D; /* PMS 433C, hsl(210, 22%, 15%) */
	background-color: white;
}

a {
	text-decoration: underline;
	color: #D93E0B; /* hsl(15, 90%, 45%) */
	transition: all 150ms ease-in;
}

a:hover {
	color: hsl(15, 100%, 35%); /* darker red */
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

pre {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 0.75rem;
	display: block;
	margin-bottom: 1rem;
	border: 1px solid hsl(210, 10%, 75%);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: hsl(210, 22%, 95%);
	color: hsl(210, 22%, 50%);
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	font-weight: 700;
}

h1 {
	font-size: 3.375rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1rem;
}

/*ul {
	line-height: 2;
}*/

/* Readable text */
h1, h2, h3, h4, h5, h6, p {
	max-width: 40em;
	margin-bottom: 1rem;
}

/* Image styles */

img.img--fitContainer {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	border-radius: .5rem;
	transition: all 150ms ease-in;
}

img.img--fitContainer:hover {
	opacity: 0.8;
}


/* Spacing */

.container {
	display: block;
	margin: 2rem 1rem;
}

section {
	margin-bottom: 2rem;
}

/* Above 640px but below 960px */
@media only screen and (min-width: 673px) and (max-width: 992px) {
	.container {
		max-width: 40rem; /* 640px */
		margin: 2rem auto;
	}
}

/* Above 960px */
@media only screen and (min-width: 993px) {
	.container {
		max-width: 60rem; /* 960px */
		margin: 4rem auto;
	}

	section {
		margin-bottom: 4rem;
	}
}

/* Forms */
label, input, select, textarea {
	display: block;
	width: 20rem;
}

input, select, textarea {
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: white;
	border: 1px solid hsl(210, 10%, 75%);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	margin-bottom: 1.5rem;
	/*margin: 0.25rem 0;*/
}

select {
	/* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
}

input[readonly] {
	background-color: hsl(210, 22%, 95%);
	color: hsl(210, 22%, 50%);
}

form > label {
	font-weight: 700;
	margin-bottom: 0.25rem;
}

.inputInline input[type="radio"], 
.inputInline input[type="checkbox"] {
	display: inline-block;
	width: auto;
	margin: 0 0.5rem 0 0;
}

.inputInline div {
	margin-bottom: 0.25rem;
}

.inputInline div:last-child {
	margin-bottom: 0;
}

.inputInline {
	margin-bottom: 1.5rem;
}

.inputInline label {
	display: inline-block;
	width: 32em;
	/*font-weight: 400;*/
	margin: 0;
}

.inputInline label.error {
	display: block;
	margin: 0.25rem 0 0 0;
}

fieldset legend {
	font-weight: 700;
	margin-bottom: 0.25rem;
}

/*input:not(:focus):invalid {
  border-color: #D93E0B;
}*/

input:invalid,
textarea:invalid,
select:invalid {
  border-color: #D93E0B;
}

.errorMessage {
  color: #D93E0B;
	font-size: 0.75rem;
	font-weight: 400;
	margin: -1.125rem 0 1.5rem 0;
	display: none;
}

/*input:not(:focus):invalid + div.errorMessage {
  display: block;
}*/

input:invalid + div.errorMessage,
textarea:invalid + div.errorMessage,
select:invalid + div.errorMessage {
  display: block;
}

input:valid + div.errorMessage,
textarea:valid + div.errorMessage,
select:valid + div.errorMessage {
  display: none;
}



/* jQuery validator error messages */
label.error {
	color: #D93E0B;
	font-size: 0.75rem;
	font-weight: 400;
	margin: -1.125rem 0 1.5rem 0;
}

input.error, select.error {
	border-color: #D93E0B;
}

/* Focus states */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: hsl(210, 22%, 75%);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsl(210, 10%, 75%);
}
::-moz-placeholder { /* Firefox 19+ */
  color: hsl(210, 10%, 75%);
}
:-ms-input-placeholder { /* IE 10+ */
  color: hsl(210, 10%, 75%);
}
:-moz-placeholder { /* Firefox 18- */
  color: hsl(210, 10%, 75%);
}

/* jQuery UI tooltip */
.ui-tooltip {
	background-color: #1D252D;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.25rem;
  font: inherit;
  font-size: 0.75rem;
  box-shadow: none;
  max-width: 36em;
}

/* Buttons */

button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: #ffffff;
	background-color: hsl(210, 10%, 50%);
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	display: inline-block;
	transition: all 150ms ease-in;
}

button:hover {
	opacity: 0.8;
}

button.primary {
	background-color: #D93E0B;
}


/* Callouts */

.callout {
	background-color: hsl(210, 22%, 95%);
	border-radius: 0.25rem;
	padding: 1rem;
	overflow-wrap: break-word;
}


/* Flex containers */
.flex {
	display: flex;
}

#form, #results, .half {
	width: 50%;
	padding-right: 2rem;
}

/* Tables */

table {
	border: 1px solid hsl(210, 10%, 75%);
}

table th, table td {
	padding: 0.25rem;
	width: 10rem;
}

table th {
	font-weight: 700;
	text-align: left;
}

table caption {
	margin-bottom: 1rem;
	text-align: left;
	font-weight: 700;
}

table.borders {
	border-collapse: separate;
	border-spacing: 0.25rem;
}

table.borders th, table.borders td {
	border: 1px dotted hsl(210, 10%, 75%);
}

.alignRight {
	text-align: right;
}

table.alternateRow tbody tr:nth-child(even) {
	background-color: hsl(210, 22%, 95%);
}

table.drawSquare {
	border: none;
}

table.drawSquare th, table.drawSquare td {
	padding: 0;
	width: 1.5rem;
	text-align: center;
}

/* Misc */

.hide {
	display: none;
}


/* Show Hide items */

.showHide__itemTitle {
	text-decoration: none;
	font-weight: 700;
	color: #1D252D;
}

.showHide__itemTitle:hover {
	text-decoration: none;
}

.showHide__itemTitle::before {
	content: '▾';
	margin-right: .5rem;
	display: inline-block;
	transform: rotate(-0.25turn);
}

.showHide__itemTitle--expanded::before {
	transform: rotate(0deg);
}

/* Main header nav bar */

nav.headerBar {
	background-color: #1D252D;
	display: block;
	width: 100%;
	height: 3.5rem;
}

.headerBar ul {
  background: #1D252D;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.headerBar li {
	color: #fff;
	background: #1D252D;
  display: block;
  float: left;
  /*padding: 1rem;*/
  position: relative;
  /*text-decoration: none;*/
  transition-duration: 0.5s;
}

.headerBar li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.headerBar li:hover,
.headerBar li:focus-within {
  background: hsl(210, 22%, 35%);
}

.headerBar li:focus-within a {
	outline: none;
}

.headerBar ul li ul {
  background: #1D252D;
  visibility: hidden;
	opacity: 0;
	min-width: 20rem;
  position: absolute;
	transition: all 0.5s ease;
	/*margin-top: 1rem;*/
  left: 0;
	display: none;
}

.headerBar a[aria-haspopup="true"]:after {
  content: '▾';
  padding-left: .5rem;
}

.headerBar ul li:hover > ul,
.headerBar ul li:focus-within > ul,
.headerBar ul li ul:hover
.headerBar ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.headerBar ul li ul li {
  clear: both;
  width: 100%;
}
 

/* Fancybox styles */

a[data-fancybox="gallery"],
a[data-fancybox="gallery"]:hover {
	text-decoration: none;
}

a[data-fancybox="gallery"],
a[data-fancybox="gallery"] > img {
	display: block;
}

a[data-fancybox="gallery"]:hover {
	opacity: 0.8;
}
